{% extends "base.html" %}

{% block title %}{{ SITENAME }} / Home{% endblock %}

{% block content %}


		<h1 class="subheader">About</h1>
			<p>I am a Developer, Web and Internet adorer and photographer. Apart from spending my days building web services for my employer, I try to learn  about Web Dev, Software, Mathematics, Physics, Genetics and Photography. </p>
			<p>My interests include gadgets, machines, photography, the Web, languages (machine and natural), cultures, long discussions with friends and family, books, NYC (yes, the city), cooking. I also love watching <a href="http://www.ted.com/">TED talks</a>.</p>	

		<h2 class="subheader">Recent Articles</h2>
		{% if articles %}
    	   <ul class="circle home-article-list">
	        {% for article in (articles_page.object_list if articles_page else articles) %}
				<li>
        		        <a href="/{{ article.url }}">{{ article.title }}</a>
				</li>
	        {% endfor %}
			</ul>
		{% endif %}		
	   	
		<a class="small button secondary radius" href="/blog.html">Posts &rarr;</a>
		
{% endblock %}

